html {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  opacity: inherit;
}

body {
  display: flex;
  font-family: sans-serif;
  font-size: 65px;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.three-columns {
  display:flex;
  width: 100vw;

}
.title, h3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

.row {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
align-content: stretch;
justify-content: center;
}


.column-human {
  margin-left: 5%;
  align-items: center;
  float: left;
  padding: 50px;
  width: 25%
}

.column-game {
  width: 20%;
}

.rules-box {
  align-items: center;
  background-color: #5D3FD3;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%
  transition: 100ms;
  width:60%;
}

.rules-box-two {
  align-items: center;
  background-color: #5D3FD3;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%
  transition: 100ms;
  width: 20%;
}

.content {
  font-size: 50px;
  color: white;
  font-family: sans-serif;
  }

.column-computer {
  display: flex;
  padding: 50px;
  width: 25%;
  margin-bottom: 50px;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

.change-game-button {
  background-color: #5D3FD3;
  border-color: #5D3FD3;
  border-radius: 8%;
  height: 200px;
  width: 400px;
  font-size: 50px;
  color: white;
}
